 /* Yellow Dragon Logo:  */

.yellowdragon-logo-container {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.yellowdragon-logo {
    height: 180px;
  }